

body {
  margin: 0;
  background-image: element("bg-bottom.svg");
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
  background-repeat: no-repeat,no-repeat;
  background-position: bottom left,top right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  
}

.pricecomparison {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.plan{
  background-color: hsl(240, 78%, 98%);
  box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
  padding: 2rem;
  width: 150px;
  max-width: 275px;
  border-radius: 8px;
}


.price{
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggle{
  display: flex;
  flex-direction: row;
}

p{
  display: flex;
  justify-content: center;
}

.dollar{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.content{
  display: flex;
  justify-content: center;
}

.plan.professional{
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
  color: white;
  margin-top: -1.5rem;
  padding-top: 3.5rem;
  margin-bottom: -1.5rem;
  padding-bottom: 3.5rem;
  
}

.plan:first-child{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.plan:last-child{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.divider{
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.plan.professional .divider{
  background-color: rgba(255, 255, 255, 0.2);
}


input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 6px;
	width: 25px;
	height: 25px;
	background: hsl(234, 14%, 74%);
	border-radius: 25px;
	transition: 0.2s;
}

input:checked + label {
	background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:checked + label:after {
	left: calc(100% -5px);
	transform: translateX(100%);
}

label:active:after {
	width: 25px;
}

#monthly{
  display: none;
}

#annually {
  display: flex;
}

.learnmore{
  border: none;
  margin-top : 1rem;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  width: 100%;
  padding: .75rem 1rem;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: 100ms;
}

.plan.professional.learnmore{
  background-color: hsl(240, 78%, 98%);
  color: hsl(232, 13%, 33%);
}

.learnmore:hover, .learnmore:focus{
  transform: scale(1.1);
}




@media screen and (max-width:500px){
  
  .pricecomparison{
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}